# APP名
APP_NAME=laravel

# サーバー名
SERVER_NAME=laravel.local

# Nginx
NGINX_CONTAINER=nginx
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
NGINX_CERTS_NAME=cert

# PHP
PHP_CONTAINER=php
PHP_XDEBUG_PORT=9000

# MySQL
MYSQL_CONTAINER=mysql
MYSQL_DATABASE=hoge
MYSQL_USER=fuga
MYSQL_PASSWORD=docker#DOCKER1234
MYSQL_ROOT_PASSWORD=docker#DOCKER1234
MYSQL_PORT=3306
MYSQL_SLAVE_CONTAINER=mysql-slave
MYSQL_SLAVE_PORT=13306

# Redis
REDIS_CONTAINER=redis
REDIS_PORT=6379

# MailHog
MAILHOG_CONTAINER=mailhog
MAILHOG_PORT=8025

# phpMyAdmin
PMA_CONTAINER=phpMyAdmin
PMA_PORT=8080
PMA_ARBITRARY=1
PMA_HOSTS=mysql
PMA_USER=fuga
PMA_PASSWORD=docker#DOCKER1234

# MongoDB
MONGO_CONTAINER=mongo
MONGO_PORT=27017
MONGO_USERNAME=root
MONGO_PASSWORD=docker#DOCKER1234

# mongo-express
MONGO_EX_CONTAINER=mongo-express
MONGO_EX_PORT=8081
MONGO_EX_USERNAME=admin
MONGO_EX_PASSWORD=docker#DOCKER1234
MONGO_EX_ADMINUSERNAME=root
MONGO_EX_ADMINPASSWORD=docker#DOCKER1234

# Redmon
REDMON_CONTAINER=redmon
REDMON_PORT=4567
